.inicio h1 {
    margin: 2rem;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 4px;
    text-shadow: 6px -1px 2px #14c38fca;
}

.inicio .logo {
    display: inline-block;
    background-image: url(../imagenes/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 10rem;
    height: 10rem;
    align-self: center;
    margin-top: 8rem;
}

@media (prefers-reduced-motion: no-preference) {
    .inicio .logo {
        animation: App-logo-spin infinite 5s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}